<header class="navbar">
    <div class="navbar-content">
        <div class="logo">
            <img src="assets/andlogo.png" alt="Logo" />
        </div>

        <button class="menu-toggle" (click)="toggleMenu()">☰</button>

        <nav class="nav-links">
            <a href="#about">Acerca de</a>
            <a href="#typesOf">Giros</a>
            <a href="#features">Módulos</a>
            <a href="#use-case">Casos de Éxito</a>
            <a href="#pricing">Planes</a>
        </nav>

        <div class="nav-buttons">
            <button class="btn-outline small" (click)="scrollToContact()">Contacto</button>
        </div>
    </div>
    <!-- Menú en móvil -->
    <div class="mobile-menu" id="mobileMenu">
        <a href="#about">Acerca de</a>
        <a href="#typesOf">Giros</a>
        <a href="#features">Módulos</a>
        <a href="#use-case">Casos de Éxito</a>
        <button class="btn-outline small" (click)="scrollToContact()">Contacto</button>
    </div>
</header>

<div class="hero-container">
    <video autoplay muted loop playsinline class="background-video">
        <source src="assets/map.mp4" type="video/mp4" />
        Tu navegador no soporta videos HTML5.
    </video>

    <div class="hero-content">
        <h1>AND System</h1>
        <p>Optimiza, monitorea y controla tus operaciones con AND System. Resuelve tus necesidades de geolocalizacion,
            monitoreo, reportes y obtén información en tiempo real.</p>
        <div class="cta-buttons">
            <button class="btn-outline" (click)="scrollToContact()">Solicita una demo gratuita</button>
            <button class="btn-outline" (click)="scrollTyoeOf()">Habla con un Asesor</button>
        </div>
    </div>

    <div class="hero-image">
        <img src="assets/mockup.png" alt="App Preview" />
    </div>
</div>
<section id="about" class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="assets/acercade.png" alt="about image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <span>Sobre nosotros</span>
                    <h2>DESARROLLAMOS TECNOLOGIA QUE FACILITA LAS OPERACIONES DE TU NEGOCIO.</h2>
                    <p>
                        AND es un sistema SaaS desarrollado con aplicaciones móviles y paneles de administración para apoyarte en el control y administración de tus  procesos y personal, proporcionándote información en tiempo real, validaciones, registros y evidencias de tu operación.
                    </p>
                    <p>
                        Nos diferenciamos porque diseñamos nuestra solución pensando primero en el usuario final lo que nos permite mejorar la experiencia de tus clientes y colaboradores con procesos sencillos y herramientas prácticas. Desde 2019 trabajamos en mejorar continuamente. And te ofrece información y control de tu operación estés donde estés. 
                    </p>
                    <ul>
                        <li><i class="flaticon-check-mark"></i> Información en tiempo real desde tu celular</li>
                        <li><i class="flaticon-check-mark"></i> Geolocalización y monitoreo de vehículos y personal</li>
                        <li><i class="flaticon-check-mark"></i> Plataforma económica, funcional y fácil de usar</li>
                        <li><i class="flaticon-check-mark"></i> Validación de productos y servicios</li>
                        <li><i class="flaticon-check-mark"></i> Base de datos y registros para toma de decisiones</li>
                    </ul>
                    <p>
                        Nuestra misión es resolver las necesidades logísticas y operativas con un enfoque humano y eficiente
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="features-section">
    <div class="section-header">
        <p class="section-subtitle">Lo que nos hace diferentes</p>
        <h2  style="color: #9dbbad;" class="section-title">Actualmente AND ofrece soluciones probadas  diferentes mercados</h2>
    </div>
    <p class="section-intro">
        En AND desarrollamos herramientas tecnológicas pensadas para empresas que necesitan controlar sus
        operaciones en campo. Nuestra plataforma es intuitiva, móvil y se adapta a distintas industrias como transporte,
        limpieza, seguridad o salud.
    </p>
    <div class="features-grid">
        <div class="feature-item">
            <h3>Geolocalización en Tiempo Real</h3>
            <p>Visualiza en el mapa la ubicación exacta de tus unidades y personal operativo desde cualquier dispositivo
                móvil o computadora.</p>
        </div>
        <div class="feature-item">
            <h3>Monitoreo Inteligente de Rutas</h3>
            <p>Rastrea recorridos, define zonas seguras, recibe alertas automatizadas y mejora la puntualidad de tu
                operación logística.</p>
        </div>
        <div class="feature-item">
            <h3>Validación Digital de Servicios</h3>
            <p>Controla entradas, salidas y puntos de validación mediante códigos QR y pases electrónicos para
                garantizar trazabilidad.</p>
        </div>
        <div class="feature-item">
            <h3>Reportes Automatizados y Personalizables</h3>
            <p>Obtén datos claros y útiles sobre tu operación para tomar decisiones rápidas y estratégicas, sin depender
                de hojas de cálculo.</p>
        </div>
    </div>
    <div>
        <div class="section-header">
            <p class="section-subtitle">Nosotros</p>
            <h2 class="section-title">Aspectos Destacados</h2>
        </div>
        <div class="attractive-aspects">

            <div class="aspect">
                <div class="icon-circle">
                    <img src="assets/reportes.png" alt="Reportes Automáticos" />
                </div>
                <h4>Reportes Automáticos</h4>
                <p  style="color: #9dbbad;">Obtén evidencia visual y métricas clave sin depender de registros manuales.</p>
            </div>

            <div class="aspect">
                <div class="icon-circle">
                    <img src="assets/qr.png" alt="Control con QR" />
                </div>
                <h4>Control con QR</h4>
                <p  style="color: #9dbbad;">Identifica, valida y da acceso a zonas o servicios desde cualquier celular.</p>
            </div>

            <div class="aspect">
                <div class="icon-circle">
                    <img src="assets/nube.png" alt="Gestión en la Nube" />
                </div>
                <h4>Gestión en la Nube</h4>
                <p  style="color: #9dbbad;">Administra toda tu operación de forma remota y segura, disponible 24/7.</p>
            </div>

        </div>
    </div>
</section>
<section id="typesOf" class="giros-section">
    <div class="section-header">
        <p class="section-subtitle">Soluciones Especializadas AND</p>
        <h2 class="section-title">Mercados que Atendemos</h2>
    </div>
    <div class="attractive-aspects">
        <div class="aspect">
            <div class="icon-circle">
                <img src="assets/transporte.png" alt="Transporte" />
            </div>
            <h4>Transporte y logística</h4>
            <p>Transporte de personal , Transporte de carga, Empresas de grúas, Mensajería y paquetería ,Renta de vehículos con chofer</p>
        </div>
        <div class="aspect">
            <div class="icon-circle">
                <img src="assets/mantenimiento.png" alt="Campo" />
            </div>
            <h4>Servicios en campo</h4>
            <p>Empresas de limpieza , Empresas de fumigación , Mantenimiento industrial y residencial ,
                Instalaciones técnicas (electricidad, plomería, aire acondicionado)</p>
        </div>
        <div class="aspect">
            <div class="icon-circle">
                <img src="assets/logistica.png" alt="Logistica" />
            </div>
            <h4>Seguridad y vigilancia</h4>
            <p>
                Empresas de guardias de seguridad ,Monitoreo de rondines y patrullajes</p>
        </div>
    </div>
    <div class="attractive-aspects">
        <div class="aspect">
            <div class="icon-circle">
                <img src="assets/medico.png" alt="Salud" />
            </div>
            <h4>Salud y atención domiciliaria</h4>
            <p>Servicios de enfermeros y cuidadores ,Ambulancias privadas</p>
        </div>
        <div class="aspect">
            <div class="icon-circle">
                <img src="assets/promocion.png" alt="Promociones" />
            </div>
            <h4>Promociones y activaciones</h4>
            <p>Promotoría en puntos de venta , Auditorías de productos y precios</p>
        </div>
        <div class="aspect">
            <div class="icon-circle">
                <img src="assets/construccion.png" alt="Construccion" />
            </div>
            <h4>Construcción y manufactura</h4>
            <p>Control de entrada y salida de trabajadores ,Fabricación con entregas programadas (por ejemplo, cartón corrugado)</p>
        </div>
    </div>
    <div class="attractive-aspects">
        <div class="aspect">
            <div class="icon-circle">
                <img src="assets/hoteleria.png" alt="Turismo" />
            </div>
            <h4>Turismo y movilidad</h4>
            <p>Tours guiados , Renta de vehículos turísticos con operador</p>
        </div>
        <div class="aspect">
            <div class="icon-circle">
                <img src="assets/serviciopublico.png" alt="Gobierno" />
            </div>
            <h4>Gobiernos y servicios públicos</h4>
            <p>Transporte urbano gratuito (como San Nicobús) , Servicios municipales (recolección, alumbrado, mantenimiento)</p>
        </div>
        <div class="aspect">
            <div class="icon-circle">
                <img src="assets/agricultura.png" alt="Agricultura" />
            </div>
            <h4>Agricultura y agroindustria</h4>
            <p>Supervisión de brigadas , Recolección o entrega de productos</p>
        </div>
    </div>
    <div class="attractive-aspects">
        <div class="aspect">
          
        </div>
        <div class="aspect">
            <div class="icon-circle">
                <img src="assets/educacion.png" alt="Gobierno" />
            </div>
            <h4>Educación y formación</h4>
            <p>Supervisión de instructores o capacitadores en campo</p>
        </div>
        <div class="aspect">
           
        </div>
    </div>

</section>
<section id="contactUs" class="contact-section">
    <div class="section-title">
      <h2>Contáctanos</h2>
      <p>
        Estamos aquí para ayudarte. Completa el formulario y nos pondremos en contacto contigo lo antes posible.
      </p>
    </div>
  
    <div style="display: flex;">
        <div style="flex: 1; padding: 10px;">
            <form (ngSubmit)="submitForm()" #formRef="ngForm">
                <div class="form-row">
                  <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="formData.nombre" required />
                  </div>
                  <div class="form-group">
                    <input type="text" name="apellidos" placeholder="Apellidos" [(ngModel)]="formData.apellidos" required />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <input type="email" name="correo" placeholder="Correo electrónico" [(ngModel)]="formData.correo" required />
                  </div>
                  <div class="form-group">
                    <input type="tel" name="telefono" placeholder="Teléfono" [(ngModel)]="formData.telefono" required />
                  </div>
                </div>
                <div class="form-group">
                  <select name="giro" [(ngModel)]="formData.giro" required>
                    <option value="" disabled selected>Selecciona el giro de tu empresa</option>
                    <option>Mantenimiento</option>
                    <option>Rentas</option>
                    <option>Seguridad</option>
                    <option>Limpieza</option>
                    <option>Comedores</option>
                    <option>Construcción</option>
                    <option>Bienes y Raíces</option>
                  </select>
                </div>
                <div class="form-group">
                  <textarea name="mensaje" placeholder="Mensaje" [(ngModel)]="formData.mensaje" rows="5"></textarea>
                </div>
                <div class="form-row" style="justify-content: flex-end; display: flex; margin-top: 1rem;">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
              </form>
        </div>
        <div style="flex: 1; padding: 10px; ">
            <img src="assets/registro.png" alt="Imagen de contacto"  style="width: 70%; height: 70%; object-fit: cover;  border-radius: 12px;" />        
        </div>
      </div>
    <div >
        <div class="contact-form">
        
        </div>
        <div class="contact-image">
        </div>
      </div>
      
</section>
  
<section id="use-case" class="use-case-section">
    <div class="section-title">
        <h2>Casos de Éxito</h2>
        <p>
            Estas son algunas de las empresas que confían en nosotros para optimizar sus operaciones.
        </p>
<!-- 
        <div class="logo-grid1">
            <img src="assets/bus2u.png" alt="" />
            <img src="assets/sanicobus.png" alt="Empresa 2" />
            <img src="assets/vamosmas.png" alt="Empresa 3" />
        </div> -->

        <div class="testimonials">
            <div class="testimonial">
              <p>"Gracias a Trayectos Inteligentes optimizamos nuestras rutas y mejoramos la puntualidad en un 40%."</p>
              <h4>María López</h4>
              <span>Directora de Operaciones - Bus2U</span>
            </div>
            <div class="testimonial">
              <p>"El monitoreo en tiempo real nos ha dado tranquilidad y control total sobre nuestro personal de seguridad."</p>
              <h4>Jorge Hernández</h4>
              <span>Gerente General - Sanicobus</span>
            </div>
            <div class="testimonial">
              <p>"La solución fue tan intuitiva que todo nuestro equipo la adoptó rápidamente. Excelente soporte técnico."</p>
              <h4>Laura Medina</h4>
              <span>Coordinadora de Logística - VamosMás</span>
            </div>
            <div class="testimonial">
              <p>"Hemos reducido costos operativos significativamente desde que comenzamos a usar sus servicios."</p>
              <h4>Rafael Díaz</h4>
              <span>CEO - Transportes México</span>
            </div>
            <div class="testimonial">
              <p>"Una herramienta indispensable para la gestión de flotillas y personal. Lo recomendamos ampliamente."</p>
              <h4>Ana Torres</h4>
              <span>Encargada de Movilidad - ProtecPlus</span>
            </div>
            <div class="testimonial">
                <p>"Nos permitió ofrecer a nuestros clientes un nivel de transparencia y confianza que antes no teníamos."</p>
                <h4>Gabriela Ruiz</h4>
                <span>Subdirectora Comercial - Grupo Limpia</span>
              </div>
              <div class="testimonial">
                <p>"La plataforma nos ayudó a digitalizar todo el control de rutas sin complicaciones. ¡100% recomendada!"</p>
                <h4>Carlos Méndez</h4>
                <span>Encargado de Proyectos - Soluciones Constructivas MX</span>
              </div>
          </div>
    </div>
</section>
<!-- 
<section id="pricing" class="pricing-section">
    <div class="section-header">
        <h2>Planes y Precios</h2>
        <p> Soluciones escalables y personalizadas para cada necesidad.</p>
    </div>

    <div class="pricing-grid">
     
        <div class="pricing-card">
            <h3>Basico</h3>
            <p class="price">$0<span>/mes</span></p>
            <ul>
                <li>Monitoreo en tiempo real</li>
                <li>Descarga app usuarios , PRs</li>
                <li>Programacion</li>
                <li>Plan 30 dias Gratis</li>
            </ul>
        </div>

       
        <div class="pricing-card highlighted">
            <h3>Profesional</h3>
            <p class="price">$0<span>/mes</span></p>
            <ul>
                <li>Todo lo del plan Básico</li>
                <li>Asignaciónes</li>
                <li>Capacitación</li>
                <li>Dashboard avanzado</li>
                <li>Soporte vía WhatsApp</li>
            </ul>
            <button class="btn-outline" (click)="scrollToContact()">Contactanos</button>
        </div>

   
        <div class="pricing-card">
            <h3>Integraciones</h3>
            <p class="price">Desde $0<span>/anual</span></p>
            <ul>
                <li>Todo lo del plan Profesional</li>
                <li>Tus Aplicaciones personalizadas en tiendas IOS | Android</li>
                <li>Customizaciones especiales.</li>
            </ul>
        </div>

    </div>
</section>
 -->
<section id="download" class="download-section">
    <div class="container">
        <!-- Left: Texto + Botones -->
        <div class="download-content">
            <h2>Descarga nuestra app y transforma tu operación</h2>
            <p>Haz crecer tu negocio con soluciones tecnológicas personalizadas</p>

            <div class="download-buttons">
                <a href="https://apps.apple.com/mx/app/and-usuarios/id6523435724" target="_blank">
                    <img src="assets/3.png" alt="App Store" />
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.adn.user2024" target="_blank">
                    <img src="assets/4.png" alt="Google Play" />
                </a>
            </div>
        </div>

        <!-- Right: Imagen -->
        <div class="download-image">
            <img src="assets/m1.png" alt="App Preview" />
        </div>
    </div>
</section>

<footer class="footer-section">
    <div class="footer-container">

        <div class="footer-bottom">
            <p>Teléfono: (+52) 1811631 0210  </p>
                <p>  Correo: dramirez&#64;bus2u.com.mx </p>
            <p> Dirección: Av Paseo de los Insurgentes #333 Cumbres 1er sector, N.L. , Mexico </p>
            <p>© Trayectos Inteligentes | Sistemas</p>

            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61566688692810" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/appsandsales/" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/trayectos-inteligentes/?viewAsMember=true" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
              </div>
        </div>
    </div>
<button class="scroll-to-top" (click)="scrollToTop()" title="Volver arriba">↑</button>

<!-- Botón de WhatsApp -->
<a href="https://wa.me/5218116310210?text=Hola,%20busco%20más%20información%20de%20And"
   target="_blank"
   rel="noopener noreferrer"
   class="whatsapp-button">
  <img src="assets/whatss1.png" alt="WhatsApp" />
</a>
</footer>